<div class="contact-container">
    <h1 class="contact-title">Have Questions? Reach Out.</h1>
    <div class="contact-details">
      <div class="contact-logo">
        <img src="/assets/logo.png" alt="Logo">
      </div>
      <div class="contact-info">
        <div>
          <h3>Head Office</h3>
          <p>SNL Global Head Office, <br>
            Obasanjo Space Centre, <br>
            Umaru Musa Yar'adua Express Way, <br>
            P.M.B 437, Garki, Abuja, Nigeria</p>
        </div>
        <div>
          <h3>Phone Numbers</h3>
          <p>+2348001112222 <br> +2348001112222</p>
        </div>
        <div>
          <h3>Email Addresses</h3>
          <p>info&#64;spacepark.com <br> spacepark&#64;snlglobal.net</p>
        </div>
      </div>
    </div>
    <footer class="contact-footer">
      SPACE Park © 2023, SNL Global Limited
    </footer>
  </div>
  