<div class="about-container">
    <h1 class="about-title">Space Projects And Creativity Exploration...</h1>
    <div class="about-content">
      <p>
        ...is an ultramodern technology park in Abuja, Nigeria, consisting of the National Space and Aviation Museum and the National Space and Science Planetarium.
      </p>
      <p>
        The Park aims to stimulate interest in history and science of aerospace, aviation and STEM disciplines while incorporating arts and culture to promote indigenous innovations. The Park is run by SNL Global in collaboration with the government of the Federal Republic of Nigeria.
      </p>
      <p>
        Tickets to the Space Museum and Planetarium are available on this website or through our mobile apps.
      </p>
      <p class="visit">Plan your visit to SPACE Park today.</p>
    </div>
  </div>