<header>
  <mat-toolbar color="white" class="navbar">
    <span class="log">
      <div class="logo">
        <img routerLink="/" src="/assets/logo.png" alt="Logo" class="logo-image">
        National Space and Aviation Museum
      </div>
    </span>
    <div fxFlex></div>
    <nav>
      <a mat-button routerLink="/exhibitions" routerLinkActive="active-link">Exhibitions</a>
      <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
      <a mat-button routerLink="/tickets" routerLinkActive="active-link">Tickets</a>
    </nav>
  </mat-toolbar>
</header>
