<div class="home-container">
  <div class="content">
    <h1 class="title">SPACE Park</h1>
    <img src="/assets/satellite.png" alt="Satellite" class="satellite">
    <p class="subtitle">Unfolding the wonders of the universe</p>
    <button mat-raised-button color="accent" class="cta-button">Step Back In Time</button>
  </div>
  <app-earth></app-earth>
  <div class="second-section">
    <h1 class="second-title">Exploring the</h1>
    <p class="second-title2">Big Bang</p>
    <div class="transp">
      <p class="transp-text">Included with All Access & Gallery Access Tickets</p>
    </div>
    <div class="reserve-ticket" >
      <button mat-raised-button color="accent" routerLink="/tickets" routerLinkActive="active-link" class="sec-button">Reserve tickets</button>
    </div>
    
  </div>
</div>



<div class="exhibition">
  <div class="image-section">
    <img src="/assets/image-row.png" alt="exhibits" class="img-sec">
  </div>
  <div class="location">
    <div class="location-div">
      <p class="museum-location-p">Location in Museum</p>
      <img src="/assets/museum-location.png" alt="museum" class="museum-location">
    </div>
  </div>

  <div class="text-section1">
    <div class="section-text1">
      <p class="text1">
        The Big Bang event is a physical theory that describes how the universe expanded from an initial state of high density and temperature.
      </p>
    </div>
    <div class="section-img1">
      <img src="/assets/saturn.png" alt="Saturn" class="img1">
    </div>
  </div>

  <div class="text-section2">
    <div class="section-img2">
      <img src="/assets/jupiter.png" alt="Saturn" class="img2">
    </div>
    <div class="section-text2">
      <p class="text2">
        Various cosmological models of the Big Bang explain the evolution of the observable universe from the earliest known periods through its subsequent large-scale form.
      </p>
    </div>
  </div>

  <div class="text-section">
    <div class="text-section-container">
      <p class="text-section-title">
        These models...
      </p>
      <p class="text-section-p">
        ...offer a comprehensive explanation for a broad range of observed phenomena, including the abundance of light elements, the cosmic microwave background (CMB) radiation, and large-scale structure. The overall uniformity of the Universe, known as the flatness problem, is explained through cosmic inflation: a sudden and very rapid expansion of space during the earliest moments. However, physics currently lacks a widely accepted theory of quantum gravity that can successfully model the earliest conditions of the Big Bang
      </p>
      <p class="text-section-p">
        Crucially, these models are compatible with the Hubble-Lemaitre law — the observation that the farther away a galaxy is, the faster it is moving away from Earth. Extrapolating this cosmic expansion backwards in time using the known laws of physics, the models describe an increasingly concentrated cosmos preceded by a singularity in which space and time lose meaning (typically named "the Big Bang singularity"). In 1964 the CMB was discovered, which convinced many cosmologists that the competing steady-state model of cosmic evolution was falsified, since the Big Bang models predict a uniform background radiation caused by high temperatures and densities in the distant past. A wide range of empirical evidence strongly favours the Big Bang event, which is now essentially universally accepted. Detailed measurements of the expansion rate of the universe place the Big Bang singularity at an estimated 13.787±0.020 billion years ago, which is considered the age of the universe.
      </p>
    </div>
  </div>

  <div class="galaxy">
    <p class="galaxy-section-title">
      In this ExhibitionNews
    </p>
    <img src="/assets/galaxy.png" alt="Saturn" class="galaxy-img">
  </div>

  <div class="bottom-section">
    <div class="bottom-section-container">
      <p class="bottom-section-title">
        Special Thanks
      </p>
      <p class="bottom-section-p">
        Lanre Oyebo . Wale Sanya Prof . Yemi Osinbajo
      </p>
    </div>
  </div>
</div>
  